body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;

}/*
.bgimage{
    background-image: url("https://knowtechie.com/wp-content/uploads/2017/05/laptop.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;

}
nav .mynav{
    opacity: 0;
    
}
.navbar{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;

  
    


    

}
nav .navbar-nav li a {
    color:white !important;
    
}
#hero{
    background-attachment: fixed;
}
.hero-container{
    justify-content: center;
    
}
*/
.navbar {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    background:gray !important; 
    padding: 10px 0;
    opacity: 70%;
}

.navbar-dark .navbar-nav .nav-link {
    padding-left:15px;
    color: white;
    transition: transform 0.3s;

}   
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:cyan;
    transform: scale(1.01);
  
    

}
.backimg{
    background-size: cover;
    width:100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.heading-content{
    position: absolute;
    top:80%;
    width:100%;
    max-width: 100%;
}

.heading-content h5{
    font-size: 1.5em;
    font-weight:500;
    color:white;
    font-family:arial
}

.heading-content h1{
    font-size:4em;
    font-weight:700;
    color:white;
    font-family:arial
}
.heading-content p{
    color:white
}

.post-heading{
    text-align:center;
    margin: 40px;
    text-transform: capitalize;
    margin-top:20px;
}
.img-fade{
    height:20%;
    transition: transform 0.3s;
}
.img-fade:hover{
    transform: scale(1.05);
}

#about p {
    font-size:14px;


}
   
.card{

    width:100%
}